#tab-2 .accordion-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 400px;
    padding: 10px 0 10px 0;
    background-color: #998686;
    gap: 5px;
}
.accordion-container .accordion-item{
    width:90%;
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
}
.accordion-item button{
    width:100%;
    font-size: 18px;
    font-weight: 600;
}
.accordion-item button.active {
  background-color: #ddd;
}
.panel{
    display: grid;
    background-color: white;
    overflow: hidden;
    grid-template-rows: 0fr;
    transition: grid-template-rows .3s, ease .3s;
    border-bottom: 1px solid #ddd; 
    color: black;

}
.panel.active{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 0 0 12px 12px;
}
.panel p{
    overflow: hidden;
    font: 1.2rem "Fira Sans", sans-serif;
    color: black;
    display: block; 
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;
}