.cookie-container.hidden {
   display: none;
}
.cookie-container{
  width: 200px;
  height: 220px;
  background-color: black;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.cookie-container p{
  text-align: center;
  padding: 10px;
}
.cookie-container button{
  width: 50%;
  margin: auto;
}
