.tabs-container {
  width: 100%;
  max-width: 650px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: none;
  position: relative;
}
.tabs-container.active {
  display: block;
}

.tabs-nav {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  gap: 8px;
}
.tab-link {
  background: none;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  font-size: 16px;
  color: #888;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px;
}
.tab-link:hover {
  color: #333;
}
.tab-link.active {
  color: #000;
  font-weight: 600;
  border-bottom-color: #000;
}

.instructions {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #333;
  line-height: 1.5;
}
.tab-panel {
  display: none;
}
.tab-panel.active {
  display: block;
}
.content-box {
  background-color: #111;
  color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;

}
.footer-text {
  margin-top: 16px;
  color: #555;
}
.tabs-container .logout-btn{
  background-color: #0056b3;  
  transition: background-color 0.3s;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 10px;
}
